{% extends "job/job_base.html" %}
{% load bootstrap4 %}
{% block detial %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                  <h3>Delete Job</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
              <h3>Are you sure you want to delete {{job.title}}</h3>
              <form method="post">
                {% csrf_token %}
                <input type="submit" value="Confirm Delete" class="btn btn-danger btn-large" style="margin:10px;">
                <a href="{% url 'accounts:profile' username=user.get_username %}"
                class="btn btn-simple btn-large btn-warning">Cancel</a>
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
